*{
    margin: 10;
    padding: 10;
    border: 0;
    box-sizing: none;
    text-decoration: none;
}
:root{
    --color-1: rgb(31, 31, 56);
    --color-2:rgb(94, 94, 186);
    --color-3: #82b7dd;
    --color-4: rgba(77,181,255,0.4);
    --color-white : #fff ;
    --color-light : rgba(255,255,255,0.6);
    
    --container-width--large : 75% ;
    --container-width--medium : 85% ;
    --container-width--small : 90% ;

    --transition: all 400ms ease ;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
body{
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
    background:var(--color-1);
    color: var(--color-white);
    line-height: 1.5;   
    
}
.container {
    width: var(--container-width--large);
    margin: 0 auto;
}

h1 {
    align-items: center;
    display: inline-flex;
    position: relative;
    letter-spacing: 2px;
    font-weight: 200;
} 

h1::after{
    content: "";
    position:absolute;
    height: 90%;
    width: 100%;
    background: var(--color-1);
    border-left: 1.5px solid var(--color-white);
    left: 0;
    animation: typing 2s steps(12) infinite;
}

@keyframes typing {
    100%{
        left:105%;
        margin: 0 -35px 0 20px;
    }
}
section{
    margin-top: 100px ;  
    height:100vh ;
}
 h2 {
    color: var(--color-light);
    text-align: center;  
    font-weight: lighter;
    font-size: medium;
    margin:20px 0 40px 0;
    letter-spacing: 2px;
}
.light-text{
    color: var(--color-3);
}
a{
    color: var(--color-3);
    transition: var(--transition);
}
a:hoover {
    color: var(--color-white);
}
.buttons{
    width: max-content;
    display: inline-block;
    color: var(--color-white);
    background-color: var(--color-3);
    padding: 2px 1.5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid var(--color-3);
    transition: var(--transition);
}
 .buttons:hover{
     background-color: var(--color-1);
     color: var(--color-3);
     border-color: transparent;
       }
 img{
     display: block;
     width: 100%;
     object-fit: cover;
 }
@media  screen and (max-width: 1024px) {
    .container{
        width: var(--container-width--medium);
    }
}
@media  screen and (max-width: 600px) {
    .container{
        width: var(--container-width--small);
    }
}
  